#content {
	height: 100vh;
	float: right;
	overflow: hidden;
	position: relative;
	width: calc(100% - 612px);
}

#content h1 {
	font-size: 60px;
}

#content p {
	font-size: 16px;
}

#content .text-green {
	color: #C0C3A3;
}

#content .text-red {
	color: #FF7A73;
}
