#content {
	float: right;
	position: relative;
	width: calc(100% - 385px - 64px);
}

#content h1 {
	font-size: 60px;
}

#content p {
	font-size: 16px;
}

#content .text-green {
	color: #4BC0C0;
	text-shadow: 0px 1px 13px rgba(75, 192, 192, 0.5);
}

#content .text-red {
	color: #F27173;
	text-shadow: 0px 1px 13px rgba(242, 113, 115, 0.5);
}
