#history {
	height: 100%;
	margin-top: 1px;
}


/* Buttons */

#history .desc:after {
	content: " ▲";
}

#history .asc:after {
	content: " ▼";
}


/* List */

#history .list {
	top: 100px;
	position: absolute;
	width: 100%;
}

#history .list li {
	border: 1px dashed #F0F1F2;
	margin: 20px;
	float: left;
}


/* Info box */

#history .list .info {
	background: #F6EFDC;
	height: 128px;
	margin: -1px;
	width: 128px;
}

#history .list .info .icon {
	font-size: 20px;
	padding: 4px;
	padding-left: 2px;
	position: absolute;
}

#history .list .info .day {
	display: block;
	font-size: 48px;
	padding-top: 7px;
	text-align: center;
}

#history .list .info .month {
	display: block;
	font-size: 20px;
	margin-top: -2px;
	text-align: center;
	text-transform: uppercase;
}

#history .list .info .since {
	color: #C0C3A3;
	display: block;
	text-align: center;
	margin-top: 6px;
}


/* Icon colors */

#history .list .info .in {
	color: #C0C3A3;
}


/* Amount and details */

#history .list .amount {
	margin-left: 4px;
	float: right;
}


/* Pagination */

#history .pagination {
	bottom: 0px;
	display: inline-block;
	left: 12px;
	position: absolute;
}

#history .pagination li {
	float: left;
	padding: 8px 16px;
	cursor: pointer;
}

#history .pagination li a {
	color: #C7C9CD;
	text-decoration: none;
}

#history .pagination .active a {
	color: #24374B !important;
	font-size: 28px;
}
