main #graph-container {
	border-bottom: 256px solid #F6EFDC;
	bottom: 0px;
	height: 200px;
	position: absolute;
	width: calc(100% - 612px);
}

main #price-container {
	bottom: 20px;
	line-height: 10px;
	margin-left: 40px;
	position: absolute;
}

main #price {
	margin-left: -5px;
}
