#content #graph-container {
	border-bottom: 256px solid #F6EFDC;
	bottom: 0px;
	height: 200px;
	position: absolute;
	width: 100%;
}

#content #price-container {
	bottom: 20px;
	line-height: 10px;
	margin-left: 40px;
	position: absolute;
}

#content #price {
	margin-left: -5px;
}

#content #change-percent-span,
#content #change-price-span {
	color: inherit;
}
