/* Graph */

main #graph-container {
	bottom: var(--body-margin);
	pointer-events: none;
	position: absolute;
}


/* Graph desktop */

@media screen and (min-width: 1001px) {
	main #graph-container {
		border-bottom: 200px solid #C95B55;
		height: 200px;
		width: calc(100% - 384px - (2 * var(--body-margin)));
	}
}


/* Graph responsive */

@media screen and (max-width: 1000px) {
	main #graph-container {
		border-bottom: 100px solid #6B734B;
		height: 128px;
		width: 100%;
	}
}


/* News */

main #news-container {
	float: left;
	margin: 24px;
	max-width: 40%;
}

main #news-container #news .story {
	padding-bottom: 18px;
}

main #news-container #news .story small {
	display: inline;
	font-style: italic;
}


/* Developent */

main #development-container {
	float: left;
	margin: 24px;
}

main #development-container #development .project {
	padding-bottom: 18px;
}


/* Price */

main #price-container {
	bottom: calc(20px + var(--body-margin));
	line-height: 10px;
	margin-left: 40px;
	position: absolute;
}

main #price {
	margin-left: -5px;
}
