/* Includes */

@font-face {
	font-family: "avenir demi";
	src: url("/static/fonts/avenir-demi.woff2") format("woff2");
}

@font-face {
	font-family: "avenir demi";
	src: url("/static/fonts/avenir-demi-italic.woff2") format("woff2");
	font-style: italic;
}

@font-face {
	font-family: "avenir demi";
	src: url("/static/fonts/avenir-bold.woff2") format("woff2");
	font-weight: bold;
}



/* Global base */

* {
	color: #24374B;
	font-family: "avenir demi";
}

body {
	background: #F5DBCE;
	margin: 0;
}

nav,
main,
footer {
	background: #FFFFFF;
}

ul {
	list-style-type: none;
	padding: 0;
}

a:focus {
	outline: none;
}

button, select {
	-moz-appearance: none !important;
	background: none;
	border: 1px dashed #F0F1F2;
	border-left: none;
	box-shadow: -3px 0px 0px #C0C3A3;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	transition: 0.2s;
}

button:hover, select:hover {
	box-shadow: -3px 0px 0px #FF7A73;
}

button::-moz-focus-inner {
	border: none;
}

select * {
	-moz-appearance: none !important;
	border: none;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}


/* Grid base */

body {
	display: grid;
}

header {
	align-self: center;
	grid-area: header;
	justify-self: center;
}

nav {
	grid-area: nav;
	justify-self: center;
}

main {
	grid-area: main;
}

footer {
	grid-area: footer;
	justify-self: center;
}


/* Grid desktop */

@media screen and (min-width: 1001px) {
	body {
		grid-template-areas:
			"header main"
			"nav    main"
			"footer main";
		grid-template-columns: 612px calc(100% - 612px);
		grid-template-rows: 33% 55% auto;
		height: 100vh;
	}

	header {
		width: 338px;
	}

	header #card #particles-card-container {
		height: 215px;
	}

	nav {
		margin-top: -200px;
		padding-top: 200px;
		width: 384px;
	}

	footer {
		height: 20px;
		padding-bottom: 25px;
		width: 384px;
	}
}


/* Grid responsive */

@media screen and (max-width: 1000px) {
	body {
		grid-template-areas:
			"header"
			"main"
			"footer"
			"nav";
		grid-template-columns: auto;
		grid-template-rows: auto 50vh 0px 0px;
	}

	header {
		margin-top: 38px;
		width: 85vw;
	}

	header #card #particles-card-container {
		height: calc(85vw / 1.572);
	}

	nav {
		bottom: 0;
		position: fixed;
		width: 100%;
		z-index: 1;
	}

	main {
		margin-top: -100px;
		padding-top: 100px;
	}
}


/* Header base */

header * {
	color: #FFFFFF;
}

header h1 {
	display: inline;
	font-size: 25px;
	text-shadow: 0px 1px 10px #2B3459;
}

header h2 {
	display: inline;
	font-size: 14px;
	font-weight: normal;
	text-shadow: 0px 0px 5px #2B3459;
}

header .balance {
	font-size: 24px;
	text-shadow: 0px 1px 10px #2B3459;
}


/* Header */

header {
	perspective: 1000px;
}

header #card {
	background: #26405A;
	border-radius: 10px;
	cursor: pointer;
	transform-style: preserve-3d;
	transition: 0.6s;
}

header #card.flip {
	transform: rotateY(180deg);
}

header #card #particles-card-container {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}

header #card #particles-card {
	height: calc(100% + 128px);
	margin-left: -64px;
	margin-top: -64px;
	position: absolute;
	width: calc(100% + 128px);
}

header #card #front,
header #card #back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
}

header #card #front {
	z-index: 2;
	transform: rotateY(0deg);
	padding: 30px;
}

header #card #back {
	transform: rotateY(180deg);
}

header #card #front #monero img {
	filter: drop-shadow(0px 1px 10px #2B3459);
	margin-bottom: 14px;
	margin-top: -8px;
	width: 34px;
}

header #card #front #monero h1 {
	margin-top: -6px;
	margin-left: 10px;
	position: absolute;
}

header #card #front .balance {
	margin-bottom: 20px;
}

header #card #back #address {
	cursor: text;
	float: left;
	margin-right: -10px;
	margin-top: 18px;
	max-width: 108px;
	text-align: justify;
	text-justify: distribute;
	text-align-last: center;
	word-wrap: break-word;
}

header #card #back #qr {
	filter: drop-shadow(0px 1px 10px #2B3459);
	float: right;
	margin: -5px;
	pointer-events: none;
}


/* Nav */

nav #hamburger {
	background: #FFFFFF;
	bottom: 32px;
	font-size: 26px;
	right: 32px;
	line-height: 40px;
	padding: 16px;
	position: fixed;
	transition: all .3s ease;
	width: 40px;
}

nav .link {
	border-top: 1px dashed #F0F1F2;
}

nav .link:last-child {
	border-bottom: 1px dashed #F0F1F2;
}

nav .link:hover {
	box-shadow: -3px 0px 0px #C0C3A3;
	transition: 0.2s;
}

nav .link a {
	display: block;
	text-decoration: none;
}

nav .link .fa {
	margin-right: 10px;
}

nav .active {
	box-shadow: -3px 0px 0px #FF7A73;
}


/* Nav desktop */

@media screen and (min-width: 1001px) {
	nav #hamburger {
		display: none;
	}

	nav .link a {
		padding: 16px;
	}
}


/* Nav responsive */

@media screen and (max-width: 1000px) {
	nav #hamburger.fa-times {
		background: #F6EFDC;
	}

	nav {
		height: 0%;
		transition: all .3s ease;
	}

	nav.expanded {
		height: 100vh;
	}

	nav .link {
		margin-left: 3px;
	}

	nav .link a {
		line-height: calc(100vh / 8);
		padding-left: 16px;
		padding-right: 16px;
		vertical-align: middle;
	}
}


/* Main base */

main a {
	background: #D7BACC;
	box-decoration-break: clone;
	color: #FFFFFF;
	line-height: 34px;
	padding: 4px;
	text-decoration: none;
	transition: 0.1s;
}

main a:hover {
	color: #D7BACC;
}

main small {
	color: #C8C6D4;
	font-size: 13px;
}

main meter {
	background: #F6EFDC;
	height: 3px;
	width: 300px;
}

main meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: #C0C3A3;
}

main meter:-moz-meter-optimum::-moz-meter-bar {
	background: #FF7A73;
}

main .text-green {
	color: #C0C3A3;
}

main .text-red {
	color: #FF7A73;
}


/* Main desktop */

@media screen and (min-width: 1001px) {
	main h1 {
		font-size: 60px;
	}
}


/* Main responsive */

@media screen and (max-width: 1000px) {
	main h2 {
		font-size: 20px;
	}
}



/* Footer */

footer .fa-spin {
	font-size: 28px;
	margin-left: 10px;
}
