@font-face {
	font-family: "avenir heavy";
	src: url('/static/fonts/avenir-heavy.woff2') format('woff2');
}

* {
	color: #24374B;
	font-family: "avenir heavy", sans serif;
}

body {
	background: #F5DBCE;
	margin: 0;
}

#sidebar, #content {
	background: #FFFFFF;
}

ul {
	list-style: none;
	padding: 0;
}

a:focus {
	outline: none;
}

button::-moz-focus-inner {
	border: none;
}

select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

button, select {
	-moz-appearance: none !important;
	background: none;
	border: 1px solid #F0F1F2;
	border-left: none;
	box-shadow: -3px 0px 0px #C0C3A3;
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	transition: 0.2s;
}

select * {
	-moz-appearance: none !important;
	border: none;
}

button:hover, select:hover {
	box-shadow: -3px 0px 0px #FF7A73;
}
