#sidebar {
	float: left;
	width: 385px;
}


/* Card */

#sidebar #card-container {
	perspective: 1000px;
}

#sidebar #card-container:hover #card,
#sidebar #card-container.hover #card {
	transform: rotateY(180deg);
}

#sidebar #card {
	background: linear-gradient(142deg, #1F5887 0%, #425989 55%, #3D547C 56%, #425989 100%);
	border-radius: 18px;
	box-shadow: 0px 2px 66px -37px rgba(54, 163, 235, 1),
		0px 2px 20px -10px rgba(36, 55, 75, 0.5);
	height: 215px;
	margin: 45px 25px 65px 25px;
	overflow: hidden;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.6s 0.2s;
}

#sidebar #particles-js {
	height: calc(100% + 128px);
	margin-left: -64px;
	margin-top: -64px;
	position: absolute;
	width: calc(100% + 128px);
}

#sidebar #front,
#sidebar #back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
}

#sidebar #front {
	z-index: 2;
	transform: rotateY(0deg);
	padding: 30px;
}

#sidebar #back {
	transform: rotateY(180deg);
}

#sidebar #monero img {
	width: 32px;
}

#sidebar #monero span {
	color: #FFFEFC;
	font-weight: bold;
	font-size: 24px;
	margin-top: 2px;
	margin-left: 10px;
	position: absolute;
}

#sidebar .balance-label {
	color: #B9B9B9;
	font-size: 14px;
	text-shadow: 0px 1px 0px #14273B,
		-1px 0px 0px #14273B,
		-1px 1px 1px #14273B,
		0px -1px 0px #E0E0E0,
		1px 0px 0px #E0E0E0,
		1px -1px 1px #E0E0E0,
		0px 2px 2px #14273B;
}

#sidebar .balance {
	color: #FFFEFC;
	font-size: 24px;
}

#sidebar #qr {
	float: right;
	margin: -5px;
}


/* List */

#sidebar ul {
	list-style: none;
	width: 100%;
	padding: 0;
}

#sidebar ul li a {
	display: block;
	padding: 16px;
	text-decoration: none;
}

#sidebar ul li {
	border-top: 1px solid #F0F1F2;
}

#sidebar ul li:last-child {
	border-bottom: 1px solid #F0F1F2
}

#sidebar ul li:hover {
	border-left: 3px solid rgba(54, 163, 235, 1);
	box-shadow: inset 0px 1px 66px -37px rgba(54, 163, 235, 0.4);
	transition: 0.1s;
}

#sidebar ul li .fa {
	margin-right: 10px;
}

#sidebar ul .active {
	border-left: 3px solid rgba(255, 206, 86, 1);
	box-shadow: inset 0px 1px 66px -37px rgba(255, 206, 86, 0.4);
}


/* Height meter */

#sidebar #height {
	bottom: 100px;
	margin-left: 10px;
	position: absolute;
}
