#sidebar {
	margin: 160px 0px 80px 110px;
	float: left;
	width: 385px;
	height: calc(100vh - 240px);
}


/* Card */

#sidebar #card-container {
	margin-top: -135px;
	perspective: 1000px;
}

#sidebar #card-container:hover #card,
#sidebar #card-container.hover #card {
	transform: rotateY(180deg);
}

#sidebar #card {
	background: #26405A;
	border-radius: 10px;
	height: 215px;
	margin: 45px 25px 65px 25px;
	position: relative;
	transform-style: preserve-3d;
	transition: 0.6s 0.4s;
}

#sidebar #particles-card-container {
	border-radius: 10px;
	height: 215px;
	overflow: hidden;
	position: relative;
}

#sidebar #particles-card {
	height: calc(100% + 128px);
	margin-left: -64px;
	margin-top: -64px;
	position: absolute;
	width: calc(100% + 128px);
}

#sidebar #front,
#sidebar #back {
	backface-visibility: hidden;
	left: 0;
	position: absolute;
	top: 0;
}

#sidebar #front {
	z-index: 2;
	transform: rotateY(0deg);
	padding: 30px;
}

#sidebar #back {
	transform: rotateY(180deg);
}

#sidebar #monero img {
	filter: drop-shadow(0px 1px 10px #2B3459);
	width: 34px;
	margin-top: -8px;
}

#sidebar #monero span {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 24px;
	margin-top: -4px;
	margin-left: 10px;
	position: absolute;
	text-shadow: 0px 1px 10px #2B3459;
}

#sidebar .balance-label {
	color: #FFFFFF;
	font-size: 14px;
	text-shadow: 0px 0px 5px #2B3459;
}

#sidebar .balance {
	color: #FFFFFF;
	font-size: 24px;
	text-shadow: 0px 1px 10px #2B3459;
}

#sidebar #address {
	float: left;
	margin-right: -10px;
	margin-top: 38px;
	max-width: 107px;
	text-align: justify;
	text-justify: distribute;
	text-align-last: center;
	word-wrap: break-word;
}

#sidebar #qr {
	filter: drop-shadow(0px 1px 10px #2B3459);
	float: right;
	margin: -5px;
	pointer-events: none;
}


/* List */

#sidebar ul {
	width: 100%;
}

#sidebar ul li a {
	display: block;
	padding: 16px;
	text-decoration: none;
}

#sidebar ul li {
	border-top: 1px solid #F0F1F2;
}

#sidebar ul li:last-child {
	border-bottom: 1px solid #F0F1F2
}

#sidebar ul li:hover {
	background: #FFFFFF;
	box-shadow: -3px 0px 0px #C0C3A3;
	transition: 0.2s;
}

#sidebar ul li .fa {
	margin-right: 10px;
}

#sidebar ul .active {
	box-shadow: -3px 0px 0px #FF7A73;
}


/* Sync spinner */

#sidebar #sync {
	bottom: 105px;
	margin-left: 20px;
	position: absolute;
	width: 339px;
}

#sidebar .fa-spin {
	font-size: 28px;
}
