{{define "content"}}

<div id="content">
	<p>Source code: <a href="https://github.com/onodera-punpun/sako" target="_blank">github.com/onodera-punpun/sako</a></p>
	<p>License: <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3</a></p>
	<p>Donate: <a href="/send?address=43N66aiA9392qz7pTFAfSe1qJxrxDACDhMvcTVv5uPkWK37XSCMxaeqg2PTp8NeZMuaGcjatuQCaoCFrUdRxuQX71mBnwvr">43N66aiA9392qz7pTFAfSe1qJxrxDACDhMvcTVv5uPkWK37XSCMxaeqg2PTp8NeZMuaGcjatuQCaoCFrUdRxuQX71mBnwvr</a></p>
</div>

{{end}}
