<!DOCTYPE html>

<html lang="en">
	<head>
		<title>sako / {{.}} [0.00]</title>

		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/static/vendor/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/vendor/css/overlay-scrollbars.min.css">
		<link rel="stylesheet" href="/static/vendor/css/animate.min.css">

		<link rel="stylesheet" href="/static/css/layout.css">
		<link rel="stylesheet" href="/static/css/{{.}}.css">
	</head>

	<body>
		<div id="noise"></div>

		<header>
			<div id="card">
				<div id="particles-card-container">
					<div id="particles-card"></div>
				</div>

				<div id="front">
					<div id="monero">
						<img src="/static/images/monero.svg" width="34" height="34">
						<h1>MONERO</h1>
					</div>

					<h2>Your balance</h2>
					<div id="balance" class="balance">0.000000000000</div>

					<h2>Unlocked Balance</h2>
					<div id="unbalance" class="balance">0.000000000000</div>
				</div>

				<div id="back">
					<div id="address" class="balance-label"></div>
					<img id="qr" width="226" height="226">
				</div>
			</div>
		</header>

		<nav>
			<div id="hamburger" class="fa fa-bars fa-fw"></div>

			<div class="link{{if eq . "info"}} active{{end}}">
				<a href="/info"><i class="fa fa-area-chart fa-fw"></i>Info</a>
			</div>
			<div class="link{{if eq . "send"}} active{{end}}">
				<a href="/send"><i class="fa fa-send fa-fw"></i>Send</a>
			</div>
			<div class="link{{if eq . "receive"}} active{{end}}">
				<a href="/receive"><i class="fa fa-send fa-flip-horizontal fa-fw"></i>Receive</a>
			</div>
			<div class="link{{if eq . "address-book"}} active{{end}}">
				<a href="/address-book"><i class="fa fa-address-book fa-fw"></i>Address book</a>
			</div>
			<div class="link{{if eq . "history"}} active{{end}}">
				<a href="/history"><i class="fa fa-history fa-fw"></i>History</a>
			</div>
			<div class="link{{if eq . "advanced"}} active{{end}}">
				<a href="/advanced"><i class="fa fa-ellipsis-h fa-fw"></i>Advanced</a>
			</div>
			<div class="link{{if eq . "settings"}} active{{end}}">
				<a href="/settings"><i class="fa fa-wrench fa-fw"></i>Settings</a>
			</div>
			<div class="link{{if eq . "about"}} active{{end}}">
				<a href="/about"><i class="fa fa-question fa-fw"></i>About</a>
			</div>
		</nav>

		<main>
			{{template "main" .}}
		</main>

		<footer>
			<span id="sync">
				<i class="fa fa-circle-o-notch fa-spin fa-2x fa-fw"></i> Syncing...
			</span>
		</footer>
	</body>

	<script src="/static/vendor/js/moment.min.js"></script>
	<script src="/static/vendor/js/chart.min.js"></script>
	<script src="/static/vendor/js/overlay-scrollbars.min.js"></script>
	<script src="/static/vendor/js/particles.min.js"></script>
	<script src="/static/vendor/js/animate.css.min.js"></script>
	<script src="/static/vendor/js/list.min.js"></script>

	<script src="/static/js/util.js"></script>
	<script src="/static/js/layout.js"></script>
	<script src="/static/js/{{.}}.js"></script>
</html>
